<style>
@font-face {
	font-family: "Signika-Bold";
	src: url("/static/fonts/Signika-Bold.ttf");

}
	body {
		width: 100%;
		height: 100%;
		margin: 0px;
		padding: 0px;
		overflow-x: hidden; 
	}
	#city_info {
		font-family: 'Signika-Bold';
		font-size: 30px;
		color: white;
		text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
		position:absolute;
		top: 100px;
		left: 100px;
	}
</style>
<body>
	<div id="city_info"></div>
	<img id="img" src="">
</body>
<script>
	var image_url=""
	var city_info={}
	function changeImage(a) {
		document.getElementById("img").src=a;
	}
	function updateInfo(city_data){
		if(Object.entries(city_data).length === 0){
			document.getElementById("city_info").innerHTML = "loading"
		}else{
			document.getElementById("city_info").innerHTML = city_data.name + ", " + city_data.country_name
		}
	}
	function httpGetAsync(theUrl, callback)
	{
		var xmlHttp = new XMLHttpRequest();
		xmlHttp.onreadystatechange = function() { 
		    if (xmlHttp.readyState == 4 && xmlHttp.status == 200)
				callback(xmlHttp.responseText);
		}
		xmlHttp.open("GET", theUrl, true); // true for asynchronous 
		xmlHttp.send(null);
	}

	function newUrl(){
		httpGetAsync("http://localhost/city_url", function(response){
			image_url=response;
			city_info = getCityData()
			updateInfo(JSON.parse(city_info))
			changeImage(image_url);
		});
	}
	
	
	function getCityData(){
		httpGetAsync("http://localhost/city_data", function(response){
			city_info=response
			console.log("new city")
			updateInfo(JSON.parse(city_info))
		}
	}
	function newCity(){
		httpGetAsync("http://localhost/new_city", function(response){
			city_info=response
			console.log("new city")
			updateInfo(JSON.parse(city_info))
			
		});
	}
	newCity();
	setInterval(newCity, 2000000);
	setInterval(newUrl, 9000);
</script>
