<style>
body {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	overflow-x: hidden; 
}
</style>
<body>
	<img id="img" src={{ image_dir }}>
</body>
<script>
	function changeImage(a) {
		document.getElementById("img").src=a;
	}
	function httpGetAsync(theUrl, callback)
	{
		var xmlHttp = new XMLHttpRequest();
		xmlHttp.onreadystatechange = function() { 
		    if (xmlHttp.readyState == 4 && xmlHttp.status == 200)
				callback(xmlHttp.responseText);
		}
		xmlHttp.open("GET", theUrl, true); // true for asynchronous 
		xmlHttp.send(null);
	}
	var image_url=""
	function newUrl(){
		httpGetAsync("http://localhost/city_url", function(response){
			image_url=response;
			changeImage(image_url);
		});
	}
	function newCity(){
		httpGetAsync("http://localhost/new_city", function(response){
			console.log("new")	
		});
	}
	setInterval(newCity, 200000);
	setInterval(newUrl, 7000);
</script>
