<style>
@font-face {
	font-family: "Signika-Bold";
	src: url("/static/fonts/Signika-Bold.ttf");

}
	body {
		width: 100%;
		height: 100%;
		margin: 0px;
		padding: 0px;
		overflow-x: hidden; 
	}
	#city_info {
		font-family: 'Signika-Bold';
		color: white;
		text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
		position:absolute;
		top: 100px;
		left: 100px;
		z-index: 100;
	}
	#primary_stats {
		font-size: 40px;
	}
	#seconday_stats {
		font-size: 20px;
	}
	#mapid {
		z-index: 1;
		position:absolute;
		top: 0px;
		left: 0px;
		height: 100%;
		width: 100%;
	}
</style>
<link rel="stylesheet" href="/static/leaflet/leaflet.css" />
<script src="/static/leaflet/leaflet.js"></script>
<body>
	<div id="city_info">
		<div id="primary_stats"></div>
		<div id="seconday_stats"></div>
	</div>
	<div id="mapid"></div>
</body>

<script src="/static/interactive_city.js"></script>
